.registrarDeportista-input{
    cursor: text;
}

.registrarDeportista-input, .select{
    border-width: 1px;
    border-radius: 5px;
    background-color: #FFFF;
    margin-bottom: 25px;
    height: 30px;
    margin-top: 5px;
    margin-right: 10px;
    padding: 0px 10px;
}

.registrarDeportista-input[type=text], .select, input[type=e-mail]{
    border-color: #CCCCCC;
    border-style: solid;
    box-shadow: 0px 0px 2px rgba(66,66,66,.73);
    /* padding: 5px;
    box-sizing: border-box; */
}

.registrarDeportista-input[type=submit], .select, input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
}

.registrarDeportista-input[type=file]{
    background-color: transparent;
    padding: 0px;
}

.registrarDeportista-input[type="file"]{
    display: none;
}
.label-input-file{
    height: 30px;
    width: 225px;
    background-color: #FFFFFF;
    /* position: absolute; */
    display:flex;
    justify-content: center;
    align-items: center;
    color: #939191;
    border-width: 1px;
    border-style: solid;
    border-color: #C7C5C5;
}
.custom-text{
    font-size: 13px;
    font-weight: 300;
}
.obtenerQr{
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F0F2F3;
    /* padding-top: 40px; */
    padding-bottom: 50px;
    height: 82vh;
}
.titleRegister{
    font-weight: 500;
}

.form-izquierda{
    float: left;
    padding-right: 30px;
}

.form-medio{
    flex-direction: row;
    padding-right: 30px;
    float: left;
}

.form-derecha{
    float: right;
}

.form-derecha>.form-options{
    display: flex;
}

.form-options>label{
    margin-top: 10px;
    margin-right: 20px;
}

.form-primero{
    display: flex;
    flex-direction: row;
}

.form-segundo{
    flex-direction: column;
}

.form-segundo > input{
    width: 350px;
}

.form-tercero{
    display: flex;
    flex-direction: row;
}


.CustomButton{
    background-color: #01C109;
    color: white;
    border: none;
    border-radius: 6px;
    margin: 8px;
    padding: 15px;
    width: 300px;
    left: calc(50%);
    cursor: pointer;
    position: absolute;
    margin-top: calc(410px);
}

.radioBtnSelector{
    cursor: pointer !important;
}

.inputfile{
    cursor: pointer !important;
}

.document-icon{
    width: 24px;
    height: 24px;
}