/* .modalBackgroundBlur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
} */
  
  /* .modalContainer {
    width: 90vw;
    height: 95vh;
    border-radius: px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  } */
  
  /* .modalContainer .modalTitle {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  .modalTitle{
    width: 100%;
  }
  .title{
    font-weight: 400;
    font-size: 50px;
    
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  } */
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer .teamTable {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .formEditInformationTeam button {
    width: 200px;
    height: 50px;
    margin: 10px;
    border: none;
    background-color: #003070;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }

  .modalUpdateContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .formEditInformationTeam{
    height: 100%;
    width: 80%;
  }
  
  .formContainer{
    width: 100%;
    height: 80%;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
  }
  .formContainerLeft{
    margin-left: 10px;
    width: 50%;
    height: 100%;
    /* background-color: blue; */
  }
  .formContainerRight{
    width: 50%;
    height: 100%;
    /* background-color: blueviolet; */
  }
  .teamTable{
    height: 100%;
    display: flex;
    flex-direction: column;
  }

.containerTableJugadoresEquipo{
  margin-bottom: 25px;
}

  .addMemberBtn{
    width: 210px;
    height: 40px;
    background-color: white;
    color: #003070;
    border-color: #003070;
    border-radius: 10px;
  }

.editarEquipo-input, .custom-select{
    border-width: 1px;
    border-radius: 5px;
    background-color: #FFFF;
    margin-bottom: 25px;
    height: 30px;
    margin-top: 5px;
    margin-right: 10px;
    padding: 0px 10px;
    width: 300px;
}