.more-info-eventos-container{
    position: relative;
    height: 100%;
    width: 100%;
}

.up{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.middle{
    display: flex;
    justify-content: space-around;
}

.ver-jugadores{
    color: white;
    background-color: #003070;
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.botones-verjugadores{
    display: flex;
    justify-content: space-around;
}

.bottom-observaciones{
    padding: 30px;
}

.button-aceptar{
    color: white;
    background-color: #003070;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    float: right;
}