.mainPage-body{
    display: flex;
    flex-direction:column;
    background-color: #E8E8E8;
    width: 100%;
}

.mainPage-container{
    display: flex;
}
.content-container{
    width: 97%;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    margin: 20px;
    min-height: calc(100vh - 16vh);
}

.custom-button{
    width: 250px;
    height: 50px;
    background-color: #003070;
    color: white;
    border-radius: 10px;
    font-size: medium;
    border-style: none;
}

button:hover, input[type="submit"]:hover{
    opacity: .75;
}