.container-headers{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-info{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-info-inner{
    padding: 30px;
    background-color: #FFF;
}

.registrar-resultados-container input[type=number], textarea{
    height: 34px;
    border-radius: 5px;
    margin: 10px 0px;
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
    cursor: text;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.upper-registrar-resultados{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.incidents-textarea{
    word-wrap: break-word;
    word-break: break-all;
    width: 40vw;
    height: 20vh;
}

.buttons-registrar-resultados{
    display: flex;
    justify-content: space-evenly;
}

.buttons-registrar-resultados .cancelar{
    color: white;
    background-color: #9C010A;
    padding: 12px 35px;
    border-radius: 10px;
    border: none;
}

.buttons-registrar-resultados .guardar{
    color: white;
    background-color: #003070;
    padding: 12px 35px;
    border-radius: 10px;
    border: none;
}

.guardar:hover, .cancelar:hover{
    opacity: 0.75;
}