*{
    margin: 0;
    padding: 0;
}

.menu-dropdown{
    background-color: #003070;
    width: 20vw;
    min-height: 100vh;
}
.logo-uaq-section{
    height: 100px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.uaq-fif-logo{
    width: 235px;
    height: 60px;
}
.options{
    width: 100%;
    height: 340px;
}
.separation-container{
 width: 100%;
 height: 20px;   
 background-color: #00204B;
 display: flex;
 align-items: center;
 justify-content: center;
}
.separation-text{
    color: #ffffff;
}
.block-section{
    justify-content: flex-start ;
    padding-left: 5%;
    align-items: center;
    display: flex;
    margin-top: 10px;
    height: 40px;
    cursor: pointer;

}
.logo-section{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
.margin-img{
    margin-right: 20px;
}

.margin-txt{
    margin-right: 22px;
    text-align: left;
    margin-top: 22px;
}

.txt-deportista{
    margin-bottom: 25px;
}
.title-option{
    text-align: start;
    font-size: 1.2rem;
    color: #ffffff;
    transition: .2s;
}

.margin-img-asistencia{
margin-right: 20px;
}

.margin-asistencias{
    margin-right: 20px;
}

.logout-btn-section{
    margin-top: 40%;
}