*{
    margin: 0;
    padding: 0;
}

.menu-dropdown{
    background-color: #003070;
    width: 25vw;
    height: 100vh;
}

.indereq-logo{
    margin-top: 25px;
    width: 322px;
    height: 77px;
}
.options{
    margin-top: 40px;
    width: 100%;
    height: 340px;
}
.block-section{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10px;
    height: 75px;
    cursor: pointer;

}
.logo-section{
    width: 40px;
    height: 40px;
}
.margin-img{
    margin-right: 20px;
}

.margin-txt{
    margin-right: 22px;
    text-align: left;
}

.txt-deportista{
    margin-bottom: 25px;
}
.title-option{
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
}

.underline-default{
    position: relative;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    height: 2px;
}
.hover-animation{
    position: relative;
}
.hover-animation::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.hover-animation:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}
