/* TEXTOS */
.infoAsistencia{
text-align: center;
padding: 30px;
}
.margin-between-paragraphs{
margin-bottom: 5px;
}
.titleDatosAsitencias{
    font-weight: 500;
}
.nombreDeportista{
    font-size: 25px;
    font-weight: 500;
}
.txtInfo{
    font-size: 20px;

}

/* INPUTS DE FECHAS / FORM */
.inputsFechasAsistencias{
display: flex;
flex-direction: column;
padding-left: 20px;
}
.labelInput{
    font-weight: 500;
    margin-bottom: 10px;
}
input[type="date"]  {
    position: relative;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    cursor: pointer;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: transparent;
}
.input-range-date{
    margin: 0px 15px;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0);
    text-align: center;
}